/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Built artificats that we don't want to commit
/iar
/agent

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Ignore the testing stuff under json-server/public
/json-server/public/agent